[submodule "PiBox"]
	path = PiBox
	url = https://github.com/squgeim/PiBox
[submodule "Routine-App"]
	path = Routine-App
	url = https://github.com/deepsadhi/Routine-App
[submodule "SMS-Banking-in-Java--Minor-Project-"]
	path = SMS-Banking-in-Java--Minor-Project-
	url = https://github.com/samundra/SMS-Banking-in-Java--Minor-Project-
[submodule "Quick-Insurance-Service"]
	path = Quick-Insurance-Service
	url = https://github.com/nabinkhadka/Quick-Insurance-Service
